<%- include('header'); %>
    <div class="container">
        <div class="row mt-5 cforname">
            <div class="col-12">
                <div class="image">
                    <img src="https://res.cloudinary.com/dq7brjjnz/image/upload/v1692422863/Picture2_spp6qw.png" alt=""
                        class="img-fluid" id="img1" itemid="img1">
                </div>
                <h2 class="text-white text-center mb-5 "
                    style="font-family: 'Black Ops One', system-ui; font-size: 15px; margin-bottom: 140px;" id="text">
                    I AM <span class="multitext">CODER</span>
                </h2>
            </div>
            <div class="col-12">
            </div>
        </div>
    </div>


    <section class="container">
        <div class="row p-2 mt-5 d-flex justify-content-center align-items-center">
            <h2 class="text-white text-center exo" id="about">
                ABOUT
            </h2>
            <hr class="text-white">
            <div class="col-12 col-lg-6">
                <div class="border1 p-1">
                    <img src="https://res.cloudinary.com/dq7brjjnz/image/upload/v1691512859/GettyImages-1228408822_n7wlpw.webp"
                        alt="" class="img-fluid" style="border-radius: 30px;">
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-3">
                <h2 style="font-family: 'Exo 2', sans-serif;"> Hello,</h2>
                <p class="mt-4">
                    I'm SHASHI, a versatile web developer and coder with expertise in multiple programming languages,
                    including Python, C, Java, and more. My passion lies in crafting interactive and visually appealing
                    websites that not only function flawlessly but also engage and captivate users. What sets me apart
                    is my ability to leverage no-code platforms to create stunning animations and designs, ensuring a
                    seamless user experience.
                </p>
            </div>
        </div>
    </section>



    <!--------------------------PROJRCT--------------------------->


    <section class="container">
        <div class="row p-4 text-center">
            <h2 class="exo text-center">PROJECTS</h2>
            <hr>
            <div class="col-md-6 col-12">
                <h3 style="  font-family: 'Exo 2', sans-serif; font-size: 20px;" class=" c">Machine Learning Projects
                </h3>
            </div>
            <div class="col-md-6 col-12">
                <h3 style="  font-family: 'Exo 2', sans-serif; font-size: 20px;" class="c">Sql Projects</h3>
            </div>
            <div class="col-md-6 col-12">
                <h3 style="  font-family: 'Exo 2', sans-serif; font-size: 20px;" class="c">AI Projects</h3>
            </div>

            <div class="col-md-6 col-12">
                <h3 style="  font-family: 'Exo 2', sans-serif; font-size: 20px;" class="c">Web Designing Projects</h3>
            </div>
            <div class="col-md-6 col-12">
                <h3 style="  font-family: 'Exo 2', sans-serif; font-size: 20px;" class="c">Static Websites</h3>
            </div>
            <div class="col-md-6 col-12">
                <h3 style="  font-family: 'Exo 2', sans-serif; font-size: 20px;" class="c">Responsive websites</h3>
            </div>
        </div>
    </section>

    <!----skills---------------------------------------------------------------------------------------------->
    <secttion class="container">
        <div class="row p-5 d-flex  align-items-center">
            <h2 class="exo text-center">SKILLS</h2>
            <hr>
            <div class="col-lg-6 d-flex  align-items-center my-2" id="skills">
                <div class="border11">
                    <img src="https://res.cloudinary.com/thewebmaster/image/upload/c_scale,f_auto,q_auto:best,w_516/images/html/html5.png"
                        alt="" style="height: 50px;">
                    <p>HTML</p>
                </div>
            </div>

            <div class="col-lg-6 d-flex  align-items-center my-2" id="skills">
                <div class="border11">
                    <img src="https://i.imgflip.com/6ejuoo.png" alt="" style="height: 50px;">
                    <p>CSS</p>
                </div>
            </div>
            <div class="col-lg-6 d-flex  align-items-center my-2" id="skills">
                <div class="border11">
                    <img src="https://static.vecteezy.com/system/resources/previews/027/127/560/original/javascript-logo-javascript-icon-transparent-free-png.png"
                        alt="" style="height: 50px;">
                    <p>Java Script</p>
                </div>
            </div>

            <div class="col-lg-6 d-flex  align-items-center my-2" id="skills">
                <div class="border11">
                    <img src="https://cloudkul.com/blog/wp-content/uploads/2020/02/1200px-Cloud-SQL-Logo.svg_.png"
                        alt="" style="height: 50px;" class="mx-2">
                    <p>SQL</p>
                </div>
            </div>


            <div class="col-lg-6 d-flex  align-items-center my-2" id="skills">
                <div class="border11">
                    <img src="https://taglineinfotech.com/wp-content/uploads/2021/08/design.webp" alt=""
                        style="height: 50px;" class="mx-2">
                    <p>UI / UX Design</p>
                </div>
            </div>
            <div class="col-lg-6 d-flex  align-items-center my-2" id="skills">
                <div class="border11">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Microsoft_Office_logo_%282013%E2%80%932019%29.svg/1728px-Microsoft_Office_logo_%282013%E2%80%932019%29.svg.png"
                        alt="" style="height: 40px;" class="mx-2">
                    <p>Micro Soft Office Tools</p>
                </div>
            </div>

            <div class="col-lg-6 d-flex  align-items-center my-2" id="skills">
                <div class="border11">
                    <img src="https://www.vlrtraining.in/wp-content/uploads/2020/10/logo-deep-learning.png" alt=""
                        style="height: 60px;">
                    <p>Machine Learning</p>
                </div>
            </div>

            <div class="col-lg-6 d-flex  align-items-center my-2" id="skills">
                <div class="border11">
                    <img src="https://hackr.io/tutorials/learn-data-structures-algorithms/logo/logo-data-structures-algorithms?ver=1587721467"
                        alt="" style="height: 40px;" class="mx-2">
                    <p>Data Structures</p>
                </div>
            </div>
            <div class="col-lg-6 d-flex  align-items-center my-2" id="skills">
                <div class="border11">
                    <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/181_Java_logo_logos-512.png"
                        alt="" style="height: 50px;">
                    <p>Java</p>
                </div>
            </div>
            <div class="col-lg-6 d-flex  align-items-center my-2" id="skills">
                <div class="border11">
                    <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/267_Python_logo-512.png"
                        alt="" style="height: 40px;">
                    <p>Python</p>
                </div>
            </div>

          

            <div class="col-lg-6 d-flex  align-items-center my-2" id="skills">
                <div class="border11">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/C_Programming_Language.svg/695px-C_Programming_Language.svg.png"
                        alt="" style="height: 50px;" class="mx-2">
                    <p>C language</p>
                </div>
            </div>

          
            <div class="col-lg-6 d-flex  align-items-center my-2" id="skills">
                <div class="border11">
                    <img src="https://cdn-icons-png.flaticon.com/512/3427/3427737.png" alt="" style="height: 50px;"
                        class="mx-2">
                    <p>DBMS</p>
                </div>
            </div>
        </div>
    </secttion>

    <!-------------follow-->

    <div class="container " id="follow">
        <h2 class="text-center mt-4" style="font-weight: bold;">
            FOLLOW
        </h2>
        <hr>
        <div class="wrap">
            <div class="row  d-flex justify-content-center">
                <div class=" col-6 col-md-4 my-2">
                    <div class="card-insta">
                        <div class="icon ">
                            <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"
                                class="mb-5 text-center">
                                <path
                                    d="M11.984 16.815c2.596 0 4.706-2.111 4.706-4.707 0-1.409-.623-2.674-1.606-3.538-.346-.303-.735-.556-1.158-.748-.593-.27-1.249-.421-1.941-.421s-1.349.151-1.941.421c-.424.194-.814.447-1.158.749-.985.864-1.608 2.129-1.608 3.538 0 2.595 2.112 4.706 4.706 4.706zm.016-8.184c1.921 0 3.479 1.557 3.479 3.478 0 1.921-1.558 3.479-3.479 3.479s-3.479-1.557-3.479-3.479c0-1.921 1.558-3.478 3.479-3.478zm5.223.369h6.777v10.278c0 2.608-2.114 4.722-4.722 4.722h-14.493c-2.608 0-4.785-2.114-4.785-4.722v-10.278h6.747c-.544.913-.872 1.969-.872 3.109 0 3.374 2.735 6.109 6.109 6.109s6.109-2.735 6.109-6.109c.001-1.14-.327-2.196-.87-3.109zm2.055-9h-12.278v5h-1v-5h-1v5h-1v-4.923c-.346.057-.682.143-1 .27v4.653h-1v-4.102c-1.202.857-2 2.246-2 3.824v3.278h7.473c1.167-1.282 2.798-2 4.511-2 1.722 0 3.351.725 4.511 2h7.505v-3.278c0-2.608-2.114-4.722-4.722-4.722zm2.722 5.265c0 .406-.333.735-.745.735h-2.511c-.411 0-.744-.329-.744-.735v-2.53c0-.406.333-.735.744-.735h2.511c.412 0 .745.329.745.735v2.53z">
                                </path>
                            </svg>
                        </div>
                        <strong class="text-white in"> Instagram
                        </strong>
                        <span><a href="https://www.instagram.com/shashi__awari/"
                                style="text-decoration: none; color: rgb(235, 11, 48);">Follow me</a></span>

                    </div>

                </div>





                <div class=" col-6 col-md-4 my-2">
                    <div class="card-face">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"
                                viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <path
                                    d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" />
                            </svg>
                        </div>
                        <strong class="text-white text-center mx-5"> Facebook
                        </strong>
                        <span><a href="https://www.facebook.com/shashi.awari"
                                style="text-decoration: none; color: black;">Follow me</a></span>

                    </div>

                </div>


                <div class="col-12 col-md-4 my-2">
                    <div class="card-git">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"
                                viewBox="0 0 496 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <path
                                    d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z" />
                            </svg>
                        </div>
                        <strong class="text-white in"> Git hub
                        </strong>
                        <span><a href="https://github.com/Shashiawari" class="text-white"
                                style="text-decoration: none;">Follow me</a></span>
                    </div>

                </div>
            </div>
        </div>
        <hr class="p-5">
    </div>

    <!------------------------------any queies-->
    <form action="/" method="post">
    <div class="container">
        <div class="row p-5">
            <h2 class="exo mb-5">ANY QUERIES</h2>
            <div class="col-12">
                <div class="box-input">
                    <div class="border2">
                        <input type="text" name="name" class="input" placeholder="Name">
                    </div>
                </div>
            </div>
            <div class="col-12 my-3">
                <div class="box-input">
                    <div class="border2">
                        <input type="text" name="email" class="input" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="col-12 my-3">
                <div class="box-input">
                    <div class="border2">
                        <input type="text" name="query" class="input" placeholder="Enter Your Query"
                            style="height: 200px;">
                    </div>
                </div>
            </div>
            <button class="ui-btn mx-2" type="submit">Submit</button>

        </div>
    </div>
</form>
    
    <%- include('footer'); %>